@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    width: 80mm;
  }
  @page {
    size: 80mm;
    margin: 0mm;
  }
  .page-break {
    display: block;
    page-break-before: always;
  }
}
