@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body,
  html {
    margin: 0;
    padding: 0;
    height: auto; /* Evita forzar un tamaño de página específico */
  }
  .print\:break-inside-avoid {
    break-inside: avoid-page; /* Asegúrate de que este estilo se aplica solo donde sea necesario */
  }
  .print\:break-after-auto {
    break-after: auto; /* Permite un flujo natural sin forzar saltos de página */
  }
  /* Elimina los estilos que puedan estar causando saltos de página innecesarios */
}
